.head{
    color:orange
}

.bg-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;

}
.labels{
    margin-right: 5px;
    margin-bottom: 10px;
}

.label-toic{
    margin-right: 25px;
    align-items: left;
    margin-top:15px;
}
.button1{
    margin-top:15px;
}